//
//  Debug.xcconfig
//  WhiteNoise
//
//  Created by Ruslan Popesku on 2025-08-18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Sentry DSN for Debug builds
// Replace with your actual Sentry DSN
SENTRY_DSN = YOUR_DEBUG_SENTRY_DSN_HERE